{##}
{# MIT License#}
{##}
{# Copyright 2017 Launchpad project contributors (see COPYRIGHT.md)#}
{##}
{# Permission is hereby granted, free of charge, to any person obtaining a#}
{# copy of this software and associated documentation files (the "Software"),#}
{# to deal in the Software without restriction, including without limitation#}
{# the rights to use, copy, modify, merge, publish, distribute, sublicense,#}
{# and/or sell copies of the Software, and to permit persons to whom the#}
{# Software is furnished to do so, subject to the following conditions:#}
{##}
{# The above copyright notice and this permission notice shall be included in#}
{# all copies or substantial portions of the Software.#}
{##}
{# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR#}
{# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,#}
{# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL#}
{# THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER#}
{# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING#}
{# FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER#}
{# DEALINGS IN THE SOFTWARE.#}
{###}
{% extends 'client/base.html' %}
{% load dashboard_tags %}

{% block client_content %}
    <div class="col-md-12">
        <form class="form-horizontal" method="post" id="navigation-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="fs-path" class="sr-only">Filesystem path</label>
                <div class="input-group">
                    <input type="text" name="cd" class="col-lg-12 form-control" id="fs-path" value="{{ current_path }}" placeholder="Filesystem path">
                    <div class="input-group-addon">
                        <button class="btn btn-sm" type="submit"><i class="glyphicon glyphicon-triangle-right"></i></button>
                    </div>
                </div>
            </div>
        </form>
        {% if directory_listing %}
            <table class="table table-striped">
                <tr>
                    <th>Name</th>
                    <th>Access</th>
                    <th>Modification Time</th>
                    <th>Access Time</th>
                    <th>Actions</th>
                </tr>
                {% for filename, info in directory_listing.items %}
                    <tr>
                        <td>
                            {% if info.is_dir %}
                                <button class="btn btn-link" name="cd" type="submit" form="navigation-form" value="{{ current_path }}{{ filename }}/">{{ filename }}</button>
                            {% else %}
                                {{ filename }}
                            {% endif %}
                        </td>
                        <td>{{ info.stat.st_mode | file_mode_to_str}}</td>
                        <td>{{ info.stat.st_mtime | from_timestamp}}</td>
                        <td>{{ info.stat.st_ctime | from_timestamp}}</td>
                        <td>
                            <div class="btn-group">
                            {% if not info.is_dir %}
                                <form method="post" action="{% url 'client_filesystem_view' client.client_id %}" class="inline">
                                    {% csrf_token %}
                                    <button class="btn btn-sm" type="submit" value="{{ current_path }}{{ filename }}" name="path" title="View as text"><i class="glyphicon glyphicon-eye-open"></i></button>
                                </form>
                            {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
{% endblock %}
