{##}
{# MIT License#}
{##}
{# Copyright 2017 Launchpad project contributors (see COPYRIGHT.md)#}
{##}
{# Permission is hereby granted, free of charge, to any person obtaining a#}
{# copy of this software and associated documentation files (the "Software"),#}
{# to deal in the Software without restriction, including without limitation#}
{# the rights to use, copy, modify, merge, publish, distribute, sublicense,#}
{# and/or sell copies of the Software, and to permit persons to whom the#}
{# Software is furnished to do so, subject to the following conditions:#}
{##}
{# The above copyright notice and this permission notice shall be included in#}
{# all copies or substantial portions of the Software.#}
{##}
{# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR#}
{# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,#}
{# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL#}
{# THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER#}
{# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING#}
{# FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER#}
{# DEALINGS IN THE SOFTWARE.#}
{###}
{% extends 'client/base.html' %}
{% block client_content %}

    <div class="col-md-12">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="one-liner" class="col-sm-4 col-md-3 col-lg-2">One-Liner script:</label>
                <div class="input-group">
                    <input type="text" class="col-sm-8 col-md-9 col-lg-10 form-control" id="one-liner" value="{{ one_liner }}">
                    <div class="input-group-addon">
                        <button class="btn btn-sm" onclick="copy_text('one-liner')"><i class="glyphicon glyphicon-copy"></i></button>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
{% block footer %}
    <script type="text/javascript">
        function copy_text(element_id)
        {
            var textarea = document.getElementById(element_id);
            textarea.select();
            try
            {
                return document.execCommand("copy");
            }
            catch (ex)
            {
                alert('Copying failed: ' + ex);
                return false;
            }
        }
    </script>
{% endblock %}
