{##}
{# MIT License#}
{##}
{# Copyright 2017 Launchpad project contributors (see COPYRIGHT.md)#}
{##}
{# Permission is hereby granted, free of charge, to any person obtaining a#}
{# copy of this software and associated documentation files (the "Software"),#}
{# to deal in the Software without restriction, including without limitation#}
{# the rights to use, copy, modify, merge, publish, distribute, sublicense,#}
{# and/or sell copies of the Software, and to permit persons to whom the#}
{# Software is furnished to do so, subject to the following conditions:#}
{##}
{# The above copyright notice and this permission notice shall be included in#}
{# all copies or substantial portions of the Software.#}
{##}
{# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR#}
{# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,#}
{# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL#}
{# THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER#}
{# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING#}
{# FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER#}
{# DEALINGS IN THE SOFTWARE.#}
{###}
{% extends 'client/base.html' %}

{% block client_content %}
    <div class="col-md-12">
        <form>
            <div class="form-group">
                <label for="shell-content" class="sr-only">Shell Content</label>
                <pre class="form-control" id="shell-content" style="height: 600px">{{ text }}</pre>
            </div>
            <div class="form-group">
                <label for="command" class="sr-only">Shell Command</label>
                <input id="command" class="col-xs-12" type="text" value="" placeholder="Type shell command here..." onkeypress="return send_command(event)">
            </div>
        </form>
    </div>
{% endblock %}
{% block footer %}
    <script type="text/javascript">
        var csrf_token = '{{ csrf_token }}';
        function send_command(e) {
            if (e.keyCode === 13) {
                var request = {
                    csrfmiddlewaretoken: csrf_token
                };
                var input = $('#command');
                if (input.val() === 'clear' || input.val() === 'cls') {
                    $('#shell-content').text('');
                    input.val('');
                }
                else if (input.val().startsWith('cd '))
                    request['cd'] = input.val().split(' ', 2)[1];
                else
                    request['cmd'] = input.val();

                if (Object.keys(request).length > 1) {
                    $.post(location.href, request, function (response) {
                        input.val('');
                        var shell = $('#shell-content');
                        shell.text(shell.text() + response);
                        shell.scrollTop(shell.prop('scrollHeight'));
                    });
                }
                return false;
            }
        }
    </script>
{% endblock %}
